.test_image_and_results{
    background-color: gray;

}

.google{
    background-color: blueviolet;

}
.mobile{
    background-color: white;
}

h4{
    color: lightblue;
}

h5{
    color: lightblue;
}

.vs{
color: cornflowerblue;
}

h3{
    color: red;
}

h1{
    color:aquamarine;
}
